/*Main Feed Form*/

#edit-mediatabs input[type="radio"] {
  -webkit-appearance: none;
  display: inline-block;
}

#edit-mediatabs .form-item-mediatabs {
  display: inline-block;
  position: relative;
  border-right: 1px solid white;

}
#edit-mediatabs input.form-radio {
  background: #928f8e;
  min-width: 100%;
  margin-bottom:0;
  padding: 0em 6em 2.5em 0em;
  font-weight: 700;
  display: inline-block;
}

#edit-mediatabs input.form-radio:hover {
  background: #500005;
}

.ui-dialog .ui-button-text {
  height: 100%;
}

#edit-mediatabs input[type="radio"]:checked {
  background: #003b08;
}

#edit-mediatabs label {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  position: absolute;
  /* left: 50%; */
  display: inline-block;
  width: auto;
  padding-left: 20%;
  transform: translate(5%, -150%);
}

#edit-mediatabs {
  display: none;
}

.status-media-upload {
  display: inline-block;
  min-width: 32px;
  min-height: 32px;
  content: "Jigga";
  margin-left: 4px;
  background: url(/modules/heartbeat/modules/statusmessage/images/mountains-picture.png) no-repeat;
  background-size: contain;
}

#edit-media-upload,
#status-form input.form-file {
  display: inline-block;
  max-width: 32px;
  min-height: 32px;
  position: relative;
  transform: translate(-18px, -10px);
  opacity: 0;
}

#status-form .form-item-media {
  display: inline-block;
  min-height: 32px;
  position: relative;
  transform: translate(15px, -8px);
}

#edit-mediatabs + #ajax-wrapper {
  display: inline-block;
}

.heartbeat-message .comment-body a.status-comment-share {
  text-decoration: none;
  color: #333;
}

.ui-dialog {
  font-size: 90%;
}

.ui-dialog-title {
  background-size: contain;
  background: url('/modules/heartbeat/modules/statusmessage/images/icons/alert.png') no-repeat;
  padding: 2px 2.5em;
}

#status-form .ajax-progress.ajax-progress-throbber {
  position: absolute;
  margin-left: 44px;
}
